  body {
    font-size: 20px;
    overflow-x: hidden;
  }
.below-btn{

    background-color: rgb(189, 197, 193);
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
}

#thumbnail {
width: 100%;
}

