/* variable */
:root {
  --color-primary:rgb(60, 96, 255);
  --color-secondary:black!important;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.top-header .top-nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: black;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav ul li {
  margin: 0 10px;
}

.top-nav ul li a {
  color: white;
}

.top-nav ul li .fas {
  margin-right: 5px;
}

.ml-auto {
  margin-right: 50px;
}

.ml-auto li {
  margin-left: 10px;
  margin-right: 10px;
}

/* navbar */
.navbar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-brand {
  font-weight: 700;
  color: black;
}

.navbar a.nav-link {
  color: black;
  border-bottom: 2px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.act {
  border-bottom: 2px solid var(--color-primary);
}

.navbar a.nav-link:hover {
  border-bottom-color: var(--color-primary);
}

.lines {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-top: 2px;
  border-radius: 35%;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 70%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: #fdfdfd;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: #a148a1;
}

body {
  color: #333;
}

img {
  max-width: 100%;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.projTitle span {
  font-family: "Droid Serif", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
}

.heading h1 {
  font-family: "Droid Serif", serif;
  font-size: 2em;
  float: left;
}

.heading a.continue:link, .heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.heading a.continue:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #f69679;
}

.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: .75em;
}

.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}

.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}

.cart .cartWrap {
  padding: 0;
}

.cart .items {
  display: block;
  width: 100%;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}

.cart .items.even {
  background: #fafafa;
}

.cart .items .infoWrap {
  display: table;
  width: 100%;
}

.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}

.cart .items .cartSection .itemNumber {
  font-size: .75em;
  color: #777;
  margin-bottom: .5em;
}

.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.cart .items .cartSection p {
  display: block;
  font-size: .85em;
  color: #777777;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.cart .items .cartSection .itemImg {
  width: 4em;
  height: 120px;
  float: left;
}

.cart .items .cartSection .booking-details {
  margin-top: 10px;
}

.cart .items .cartSection .booking-details p {
  margin-left: 128px;
}

.cart .items .cartSection #booking-title {
  color: black;
  font-weight: 600;
}

.cart .items .cartSection .bd {
  margin-left: 128px;
  color: #f30;
  font-weight: 700;
}

.cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}

.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em .5em 0 0;
}

.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
  margin-bottom: 10px;
  border-radius: 5px;
}

.special {
  display: block;
  font-family: "Montserrat", sans-serif;
}

.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: .5em;
  border-top: 1px solid #dadada;
}

.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}

a.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.remove:hover {
  background: #f30;
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}

.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: .5em;
  letter-spacing: -.025em;
}

.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  border: 1px solid #dadada;
}

.promoCode input:active, .promoCode input:focus {
  outline: 0;
}

.promoCode a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #82ca9c;
}

.promoCode a.btn:hover {
  border: 1px solid #f69679;
  background: #f69679;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn:hover, .btn:focus, .btn:active {
  background: #f69679;
}

.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}

.promoCode .btn {
  font-size: .85em;
  padding: .5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}

.subtotal .totalRow {
  padding: .5em;
  text-align: right;
}

.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}

.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}

.subtotal .totalRow .label {
  font-family: "Montserrat", sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}

.subtotal .totalRow .value {
  letter-spacing: -.025em;
  width: 60%;
}

@media only screen and (max-width: 1010px) {
  .wrap {
    width: 100%;
    margin: 0;
  }
  .cart .items .cartSection {
    display: block;
  }
  .cart .items .cartSection .booking-details p {
    margin-left: 0;
  }
  .cart .items .cartSection .itemImg {
    width: 100%;
    height: 300px;
  }
  .cart .items .cartSection .bd {
    margin-left: 0;
  }
  .cart .items .cartSection.prodTotal {
    text-align: right;
  }
  .cart .items .cartSection.prodTotal p {
    font-weight: bold;
    font-size: 1.25em;
  }
  .infoWrap a.remove {
    right: 0;
  }
  .promoCode, .subtotal {
    width: 100%;
  }
  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1010px) {
  .top-nav ul li i {
    margin-left: 15px;
  }
  .federation {
    display: block;
  }
  .heading {
    margin: 0 10px;
  }
  .cart .items .cartSection .itemImg {
    padding-right: 0em;
  }
}

@media screen and (max-width: 360px) {
  .heading {
    display: -ms-grid;
    display: grid;
  }
  .heading a {
    text-align: center;
  }
  .heading h1 {
    margin-left: 10px;
  }
  .heading a.continue:link {
    text-align: center;
    margin: 0 10%;
  }
}

@media screen and (max-width: 550px) {
  .top-nav ul #email {
    display: none;
  }
  .top-nav ul #user-n a {
    display: block;
  }
}

@media screen and (max-width: 770px) {
  .top-nav ul li i {
    display: none;
  }
  .dropdown {
    margin-right: 0;
  }
  .itemImg {
    padding-right: 0;
  }
}
/*# sourceMappingURL=cart.css.map */