  
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  .form-group {
    margin: 10px 20px 10px 20px;
  }
  
  .form-group h5 {
    margin: 10px 0 20px 0;
  }
  
  .form-group input {
    outline: none;
    -webkit-box-shadow: 1px 1px 1px 1px solid #141416;
            box-shadow: 1px 1px 1px 1px solid #141416;
  }
  
  .line {
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: #ada8a8;
  }
  
  .federation-upper {
    margin: 20px 0 20px 0;
  }
  
  .federation {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  
  .container .btn-fb {
    background-color: #1a1a6d;
  }
  
  .container .btn-g {
    background-color: #ec2b11;
  }
  

  .video-fluid {
    width: 100%;
  }


  /* destination title */
  #destination{

    width: 100%;
    padding: 50px 0;
    margin-top: 50px;
}

#destination title{

    text-align: center;
}

#destination .title-primary{

   color: rgb(26, 179, 240); 
   font-family: 'Satisfy', cursive;
   text-align: center;
   position: relative;
}

#destination .title-primary:before{

   content: '\f5ca';
   font-family: FontAwesome;
   position: absolute;
   top: 140%;
   left: 50%;
   transform:translate(-50%,-50%);
   font-size:80px;
   opacity: 0.1;
   color: #000000;
   z-index: -1;

 }

 #destination .title .title-secondary{

    font-weight: 700;
    
 }
#destination .h1{

    text-align: center;
}

.tagline{


    text-align: center;
    font-size: large;
    color: rgb(124, 124, 134);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
  
}


/* swiper */

.swiper-container .swiper-wrapper .swiper-slide .card{

  height: 450px;
  border: 0.25px solid rgb(211, 207, 207);
  box-shadow: none;
  border-bottom: none;

}


.swiper-slide .card{

  margin-bottom: 100px;
}
.days-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.days {
  
  padding: 5px 10px 10px 20px;
  left: 0;
   position: absolute; 
   display: flex;
   margin-top: 10px;
}

.days h6 {
  padding-left: 10px;
}

.price {
 
  padding: 5px 10px 10px 30px;
  position: absolute; 
  right: 0; 
  display: flex;
}
.price .text-from{

  margin-top: 10px;
}
.fa-inr{

  padding: 0px 5px 0 10px;
 
}

.fa-star-o{

  padding-left: 4px;
  color: #f1b430;
}



.goa{

  margin-top: 10px;

}

.goa .title-secondary{

 font-size: 25px;

}


/* discount poster */

.box{
  position:relative;
}


.box img{
    width: 100%;
    height: 450px;
}

.img-favrate{

  position: absolute;
  color: transparent;
  text-align: center;

  left: 0;
  right: 5%;
  top: 3%;
}
#img-title{
  position: absolute;
  color: #fff;
  text-align: center;

  left: 0;
  right: 0;
  top: 40%;
  letter-spacing: 3px;
}

#img-title .title-primary{

  color: rgb(26, 179, 240); 
  font-family: 'Satisfy', cursive;
  text-align: center;
  position: relative;
}



#img-title .title .title-secondary{

   font-weight: 700;
   
}

.blur {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}



  @media screen and (max-width: 1010px) {
    
    
    
    
  }

  
  
  
  

  
  

  

  /*# sourceMappingURL=tour-packages.css.map */