
html{

  scroll-behavior: smooth;
}

body{

    font-family: 'Poppins', sans-serif;
}

.banner{
    width: 100%;
    position:relative;
    /* z-index: -1; */
}
.banner .swiper-container{
width: 100%;
height: 90vh;
}

.banner  .swiper-container .swiper-slide {
    position: relative;

}
.banner  .swiper-container .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}
.banner  .swiper-container .swiper-slide .caption{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);

}
.banner  .swiper-container .swiper-slide .caption h1{
    color: #000;
    font-size: 4em;
    width: 50%;
    font-weight: 900;
    text-transform: capitalize;
}

/* .banner .swiper-container  div.swiper-button-prev  div.swiper-button-next:hover {
    background-color: #dd1818;
    color: aquamarine;

} */

.lines{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-top: 2px;
    border-radius: 35%;
}

form .fixedElement {
    
    width: 100%;
    margin: auto;
    justify-content: center;

  }

.search-form{
    background-color: rgb(21, 25, 34);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  form h4{text-align: center;
          padding-right: 10px;
          padding-left: 10px;
          color: wheat;
  }
  
  .form-control{

    background-color: transparent;
  }
  

   /* // TOP DESTINATION, TOUR GUIDES, HAPPY TRAVELER */
   
#short-intro{

    width: 100%;
    padding: 50px 0;
    margin-top: 50px;
}

#short-intro title{

    text-align: center;
}

#short-intro .title-primary{

   color: rgb(26, 179, 240); 
   font-family: 'Satisfy', cursive;
   text-align: center;
   position: relative;
}

#short-intro .title-primary:before{

   content: 'Intro';
   position: absolute;
   top: 100%;
   left: 50%;
   transform:translate(-50%,-50%);
   font-size:120px;
   opacity: 0.1;
   color: #000000;
   z-index: -1;

 }

 #short-intro .title .title-secondary{

    font-weight: 700;
    
 }
#short-intro .h1{

    text-align: center;
}
.section2 {
    margin-top: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-evenly;
  text-align: center;
  
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

.img-flex {
  width: 60px;
}

.flex-img-title {
  font-family: "Ubuntu", sans-serif;
  color: rgb(116, 110, 110);
}

.flex-img-detail {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 5px;
  color: rgb(90, 90, 90);
}
/* TOP DESTINATION, TOUR GUIDES, HAPPY TRAVELER */

/* top destination */

#popular-destinations{

    width: 100%;
    padding: 50px 0;
    margin-top: 50px;
}

#popular-destinations title{

    text-align: center;
}

#popular-destinations .title-primary{

   color: rgb(26, 179, 240); 
   font-family: 'Satisfy', cursive;
   text-align: center;
   position: relative;
}

#popular-destinations .title-primary:before{

   content: 'featured';
   position: absolute;
   top: 140%;
   left: 50%;
   transform:translate(-50%,-50%);
   font-size:80px;
   opacity: 0.1;
   color: #000000;
   z-index: -1;

 }

 #popular-destinations .title .title-secondary{

    font-weight: 700;
    
 }
#popular-destinations .h1{

    text-align: center;
}


/* box layout */

.round, .round-img{

   border-radius: 5px;
   transition: 1s;
   cursor: pointer;


}

.round-img:hover {
    transform: scale(1.05);
  }







  #tours-title{

    width: 100%;
    padding: 50px 0;
    margin-top: 0px;
  }
  
  #tours-title title{
  
    text-align: center;
  }
  
  #tours-title .title-primary{
  
   color: rgb(26, 179, 240); 
   font-family: 'Satisfy', cursive;
   text-align: center;
   position: relative;
  }
  
  
  #tours-title .title-primary-sale:before{
  
    content: 'top sale';
   font-family: 'Satisfy', cursive;
    position: absolute;
    top: 140%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size:80px;
    opacity: 0.1;
    color: #000000;
    z-index: -1;
   
   }
  
   #tours-title .title-primary-featured:before{
  
    content: 'featured';
   font-family: 'Satisfy', cursive;
    position: absolute;
    top: 140%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size:80px;
    opacity: 0.1;
    color: #000000;
    z-index: -1;
   
   }
  #tours-title .title .title-secondary{
  
    font-weight: 700;
    
  }
  #tours-title .h1{
  
    text-align: center;
  }
  

  

  .swiper-container .swiper-wrapper .swiper-slide .card{

    height: 450px;
    border: 0.25px solid rgb(211, 207, 207);
    box-shadow: none;
    border-bottom: none;

  }
  
 
  .swiper-slide .card{

    margin-bottom: 100px;
  }
  .days-prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 margin-top: 10px;
  }
  
  .days {
    
    padding: 5px 10px 10px 20px;
    left: 0;
     position: absolute; 
     display: flex;
     margin-top: 10px;
  }
  
  .days h6 {
    padding-left: 10px;
  }
  
  .price {
   
    padding: 5px 10px 10px 30px;
    position: absolute; 
    right: 0; 
    display: flex;
  }
  .price .text-from{

    margin-top: 10px;
  }
  .fa-inr{

    padding: 0px 5px 0 10px;
   
  }

  .fa-star-o{

    padding-left: 4px;
    color: #f1b430;
  }
  

  
/* modal */



.box{
  position:relative;
}


.box img{
    width: 100%;
    height: 450px;
}

.img-favrate{

  position: absolute;
  color: transparent;
  text-align: center;

  left: 0;
  right: 5%;
  top: 3%;
}
#img-title{
  position: absolute;
  color: #fff;
  text-align: center;

  left: 0;
  right: 0;
  top: 40%;
  letter-spacing: 3px;
}

#img-title .title-primary{

  color: rgb(26, 179, 240); 
  font-family: 'Satisfy', cursive;
  text-align: center;
  position: relative;
}



#img-title .title .title-secondary{

   font-weight: 700;
   
}

.blur {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}



.offer{

    position: absolute;
    left: 0;
    top: 10%;
}
  
.offer button{

    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 0px 2px 2px 0px;
}

.nav-tabs .nav-item .nav-link{
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 650px){

    .banner{
        height: 300px;
    }
    
}

@media screen and (max-width: 1010px){

    .fixedElement{

        display: block;

    }


    .col-auto{

        margin: 20px;
    }

    
    .flex-container {
        display: grid;
      }

      .hide{
          display: none;
      }

      
     
}

@media screen and (max-width:650px){

    .post-slider .post-wrapper .post .card{

    
        width: 350px;
        height: 300px;
        
    
      }
}


@media screen and (max-width:839px){

    
  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next{
    display: none;
  }

}